html, body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Light theme */
.day {
    background-color: white;
    color: black;
}

/* Dark theme */
.night {
    background-color: black;
    color: rgb(0, 255, 179);
}

/* Button styles */
.button_day {
    background-color: white;
    color: black;
    padding: 8px 12px;
    font-size: 16px;
}

.button_night {
    background-color: rgb(139, 44, 0);
    color: white;
    padding: 8px 12px;
    font-size: 16px;
}